<?xml version='1.0' encoding='utf-8'?>
<robot name="microwave_opening_benchmark">
  <material name="microwave__body_finish">
    <color rgba=".55 .58 .62 1" />
  </material>
  <link name="microwave__base">
    <inertial>
      <origin xyz="0 -0.009803600609 0.1203393408" rpy="0 0 0" />
      <mass value="5.0" />
      <inertia ixx="0.06662313158673941" iyy="0.10263239975763869" izz="0.12087337711445073" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/microwave_base_000.obj" />
      </geometry>
      <material name="microwave__body_finish" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0000.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0001.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0002.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0003.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0004.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0005.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0006.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0007.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0008.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0009.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0010.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0011.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0012.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0013.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0014.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0015.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0016.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0017.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0018.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0019.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0020.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0021.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0022.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0023.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0024.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0025.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0026.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0027.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0028.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0029.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0030.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0031.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0032.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0033.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0034.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0035.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0036.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0037.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0038.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0039.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0040.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0041.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0042.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0043.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0044.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0045.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0046.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0047.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0048.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0049.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0050.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0051.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0052.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0053.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0054.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0055.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0056.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0057.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0058.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0059.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0060.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0061.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0062.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0063.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0064.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0065.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0066.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0067.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0068.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0069.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0070.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0071.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0072.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0073.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0074.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0075.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0076.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0077.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0078.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0079.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0080.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0081.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0082.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0083.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0084.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0085.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0086.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0087.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0088.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0089.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0090.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0091.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0092.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0093.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0094.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0095.obj" />
      </geometry>
    </collision>
    <visual>
      <geometry>
        <mesh filename="../meshes/microwave_base_001.obj" />
      </geometry>
      <material name="microwave__body_finish" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0096.obj" />
      </geometry>
    </collision>
    <visual>
      <geometry>
        <mesh filename="../meshes/microwave_base_002.obj" />
      </geometry>
      <material name="microwave__body_finish" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0097.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0098.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0099.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0100.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0101.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0102.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0103.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0104.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0105.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0106.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0107.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0108.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0109.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0110.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0111.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0112.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0113.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0114.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0115.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0116.obj" />
      </geometry>
    </collision>
  </link>
  <link name="microwave__door">
    <inertial>
      <origin xyz="-0.1771493903 0.009898582473 0.0001620166004" rpy="0 0 0" />
      <mass value="1.0" />
      <inertia ixx="0.004401755463421046" iyy="0.01387627777760136" izz="0.010177151913176512" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/microwave_door_003.obj" />
      </geometry>
      <material name="microwave__body_finish" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0117.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0118.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0119.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0120.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0121.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0122.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0123.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0124.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0125.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0126.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0127.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0128.obj" />
      </geometry>
    </collision>
    <visual>
      <geometry>
        <mesh filename="../meshes/microwave_door_004.obj" />
      </geometry>
      <material name="microwave__body_finish" />
    </visual>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0129.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0130.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0131.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0132.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0133.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0134.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0135.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0136.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0137.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0138.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0139.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0140.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0141.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0142.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0143.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0144.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0145.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0146.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0147.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0148.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0149.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0150.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0151.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0152.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0153.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0154.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0155.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0156.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0157.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0158.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0159.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0160.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0161.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0162.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0163.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0164.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0165.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0166.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0167.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0168.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0169.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0170.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0171.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0172.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0173.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0174.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0175.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0176.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0177.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0178.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0179.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0180.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0181.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0182.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0183.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0184.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0185.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0186.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0187.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0188.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0189.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0190.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0191.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0192.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0193.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0194.obj" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="microwave_collision_0195.obj" />
      </geometry>
    </collision>
  </link>
  <joint name="microwave__opening_joint" type="revolute">
    <parent link="microwave__base" />
    <child link="microwave__door" />
    <origin xyz="0.217 0.127 0.126" rpy="0 0 0" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.9198621771937625" effort="100" velocity="10" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="microwave__knob_top">
    <inertial>
      <origin xyz="0 0.006923344103 0" rpy="0 0 0" />
      <mass value="0.029999999329447746" />
      <inertia ixx="5.371686517970748e-06" iyy="8.820004258901344e-06" izz="5.371686517970748e-06" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/microwave_knob_top_005.obj" />
      </geometry>
      <material name="microwave__body_finish" />
    </visual>
  </link>
  <joint name="microwave__knob_top_fixed" type="fixed">
    <parent link="microwave__base" />
    <child link="microwave__knob_top" />
    <origin xyz="-0.171218656 0.152 0.1654053554" rpy="0 0 0" />
  </joint>
  <link name="microwave__knob_bottom">
    <inertial>
      <origin xyz="0 0.006923344103 0" rpy="0 0 0" />
      <mass value="0.029999999329447746" />
      <inertia ixx="5.3716880825931724e-06" iyy="8.820005823523769e-06" izz="5.371686517970748e-06" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/microwave_knob_bottom_006.obj" />
      </geometry>
      <material name="microwave__body_finish" />
    </visual>
  </link>
  <joint name="microwave__knob_bottom_fixed" type="fixed">
    <parent link="microwave__base" />
    <child link="microwave__knob_bottom" />
    <origin xyz="-0.171218656 0.152 0.09050038829" rpy="0 0 0" />
  </joint>
</robot>