<?xml version='1.0' encoding='utf-8'?>
<robot name="plate"><link name="plate"><inertial><mass value=".237" /><inertia ixx=".00066" iyy=".00066" izz=".00127" ixy="0" ixz="0" iyz="0" /></inertial><visual><geometry><mesh filename="plate_visual.obj" /></geometry><material name="white"><color rgba="1 1 1 1" /></material></visual>
<collision name="plate_col_000"><geometry><mesh filename="plate_col_000.obj" /></geometry></collision>
<collision name="plate_col_001"><geometry><mesh filename="plate_col_001.obj" /></geometry></collision>
<collision name="plate_col_002"><geometry><mesh filename="plate_col_002.obj" /></geometry></collision>
<collision name="plate_col_003"><geometry><mesh filename="plate_col_003.obj" /></geometry></collision>
<collision name="plate_col_004"><geometry><mesh filename="plate_col_004.obj" /></geometry></collision>
<collision name="plate_col_005"><geometry><mesh filename="plate_col_005.obj" /></geometry></collision>
<collision name="plate_col_006"><geometry><mesh filename="plate_col_006.obj" /></geometry></collision>
<collision name="plate_col_007"><geometry><mesh filename="plate_col_007.obj" /></geometry></collision>
<collision name="plate_col_008"><geometry><mesh filename="plate_col_008.obj" /></geometry></collision>
<collision name="plate_col_009"><geometry><mesh filename="plate_col_009.obj" /></geometry></collision>
<collision name="plate_col_010"><geometry><mesh filename="plate_col_010.obj" /></geometry></collision>
<collision name="plate_col_011"><geometry><mesh filename="plate_col_011.obj" /></geometry></collision>
<collision name="plate_col_012"><geometry><mesh filename="plate_col_012.obj" /></geometry></collision>
<collision name="plate_col_013"><geometry><mesh filename="plate_col_013.obj" /></geometry></collision>
<collision name="plate_col_014"><geometry><mesh filename="plate_col_014.obj" /></geometry></collision>
<collision name="plate_col_015"><geometry><mesh filename="plate_col_015.obj" /></geometry></collision>
<collision name="plate_col_016"><geometry><mesh filename="plate_col_016.obj" /></geometry></collision>
<collision name="plate_col_017"><geometry><mesh filename="plate_col_017.obj" /></geometry></collision>
<collision name="plate_col_018"><geometry><mesh filename="plate_col_018.obj" /></geometry></collision>
<collision name="plate_col_019"><geometry><mesh filename="plate_col_019.obj" /></geometry></collision>
<collision name="plate_col_020"><geometry><mesh filename="plate_col_020.obj" /></geometry></collision>
<collision name="plate_col_021"><geometry><mesh filename="plate_col_021.obj" /></geometry></collision>
<collision name="plate_col_022"><geometry><mesh filename="plate_col_022.obj" /></geometry></collision>
<collision name="plate_col_023"><geometry><mesh filename="plate_col_023.obj" /></geometry></collision>
<collision name="plate_col_024"><geometry><mesh filename="plate_col_024.obj" /></geometry></collision>
<collision name="plate_col_025"><geometry><mesh filename="plate_col_025.obj" /></geometry></collision>
<collision name="plate_col_026"><geometry><mesh filename="plate_col_026.obj" /></geometry></collision>
<collision name="plate_col_027"><geometry><mesh filename="plate_col_027.obj" /></geometry></collision>
<collision name="plate_col_028"><geometry><mesh filename="plate_col_028.obj" /></geometry></collision>
<collision name="plate_col_029"><geometry><mesh filename="plate_col_029.obj" /></geometry></collision>
<collision name="plate_col_030"><geometry><mesh filename="plate_col_030.obj" /></geometry></collision>
<collision name="plate_col_031"><geometry><mesh filename="plate_col_031.obj" /></geometry></collision>
<collision name="plate_col_032"><geometry><mesh filename="plate_col_032.obj" /></geometry></collision>
<collision name="plate_col_033"><geometry><mesh filename="plate_col_033.obj" /></geometry></collision>
<collision name="plate_col_034"><geometry><mesh filename="plate_col_034.obj" /></geometry></collision>
<collision name="plate_col_035"><geometry><mesh filename="plate_col_035.obj" /></geometry></collision>
<collision name="plate_col_036"><geometry><mesh filename="plate_col_036.obj" /></geometry></collision>
<collision name="plate_col_037"><geometry><mesh filename="plate_col_037.obj" /></geometry></collision>
<collision name="plate_col_038"><geometry><mesh filename="plate_col_038.obj" /></geometry></collision>
<collision name="plate_col_039"><geometry><mesh filename="plate_col_039.obj" /></geometry></collision>
<collision name="plate_col_040"><geometry><mesh filename="plate_col_040.obj" /></geometry></collision>
<collision name="plate_col_041"><geometry><mesh filename="plate_col_041.obj" /></geometry></collision>
<collision name="plate_col_042"><geometry><mesh filename="plate_col_042.obj" /></geometry></collision>
<collision name="plate_col_043"><geometry><mesh filename="plate_col_043.obj" /></geometry></collision>
<collision name="plate_col_044"><geometry><mesh filename="plate_col_044.obj" /></geometry></collision>
<collision name="plate_col_045"><geometry><mesh filename="plate_col_045.obj" /></geometry></collision>
<collision name="plate_col_046"><geometry><mesh filename="plate_col_046.obj" /></geometry></collision>
<collision name="plate_col_047"><geometry><mesh filename="plate_col_047.obj" /></geometry></collision>
</link></robot>